@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen scroll-smooth;
  }

  body {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
}

@layer components {
  .navbar-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: font-weight 0.5s ease-in-out;
  }

  .navbar-link-mobile {
    color: white;
    font-size: 36px;
    font-weight: 400;
  }

  .navbar-link:hover{
    font-weight: 600;
    cursor: pointer;
  }

  .navbar-link:active{
    @apply underline underline-offset-4 font-[600]
  }

  .navbar-link:focus{
    @apply underline underline-offset-4 font-[600]
  }

  .footer-link {
    color: white;
    font-size: 16px;
    font-weight: 200;
    transition: font-weight 0.5s ease-in-out;
  }

  .footer-link-mobile {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  .footer-link:hover{
    font-weight: 400;
    cursor: pointer;
  }

  .lookbook-grid {
    column-count: 3;
    column-gap: 18px;
    margin-bottom: 95px;
  }

  .lookbook-item img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .lookbook-item:hover img {
    transform: scale(1.1);
  }

  /*.lookbook-item:last-child img {
    height: 405px;
    object-position: 50% 35%;
  }

  .lookbook-item:nth-last-child(3) img {
    height: 609px;
  } */

  /* .lookbook-item:nth-child(5) img {
    height: 500px;
  } */
  /* .lookbook-item:nth-child(5) img {
    height: 514px;
  }   */
  /* .lookbook-item:nth-child(8) img {
    height: 500px;
  } */
  .lookbook-item:nth-child(13) img {
    height: 497.5px;
  }  

}

@layer utilities {
  .button-hover {
    transition: color border 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
  }
  .button-hover:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .other-button-hover {
    transition: color border 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
  }
  .other-button-hover:hover{
    background-color: transparent;
    border: 1px solid #90444d;
    color: #90444d;
  }

  .page-header {
    @apply h-[600px] w-full bg-cover bg-[center_top_-20rem] relative
  }

  .page-header-gradient{
    @apply absolute top-[400px] h-[200px] inset-0 bg-gradient-to-b from-transparent to-white
  }
}