@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen scroll-smooth;
  }

  body {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
}

@layer components {
  .navbar-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: font-weight 0.5s ease-in-out;
  }

  .navbar-link:hover{
    font-weight: 600;
    cursor: pointer;
  }

  .navbar-link:active{
    @apply underline underline-offset-4 font-[600]
  }

  .navbar-link:focus{
    @apply underline underline-offset-4 font-[600]
  }

  .footer-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: font-weight 0.5s ease-in-out;
  }

  .footer-link:hover{
    font-weight: 600;
    cursor: pointer;
  }

}

@layer utilities {
  .button-hover {
    transition: color border 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
  }
  .button-hover:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .other-button-hover {
    transition: color border 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
  }
  .other-button-hover:hover{
    background-color: transparent;
    border: 1px solid #90444d;
    color: #90444d;
  }
}